.cards {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $background_header;
    margin: 15px 24px 0 24px;
    padding: 25px 27px 30px 27px;
}